@model FacialExpressionRecognition.Models.ExpressionResult

@{
    ViewData["Title"] = "Rozpoznanie wyrazu twarzy";
}

<h1>Rozpoznanie wyrazu twarzy</h1>

<form asp-action="ExpressionRecognition" enctype="multipart/form-data">
        <div class="container p-3 mb-2 bg-light">
            <div class="row">
                <div class="col-sm">
                    <div class="offset-10">
                        <h4 style="color:black"> @ViewData["Error"]   </h4>
                    </div>
                    <br />
                    @if (ViewBag.Result != null)
                    {

                        var base64 = Convert.ToBase64String(ImageManager.image);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                        <img src="@imgsrc" class="mx-auto d-block" width="450" height="400" />
                    }
                    else
                    {
                        <input type="file" class="btn btn-secondary offset-2" accept="image/*" onchange="loadFile(event)" name="file" />
                        <br />
                        <br />
                        <img id="output"  class="mx-auto d-block" width="450" height="400" />
                    }
                    <br />
                    <button id="CheckBtn" type="submit" hidden class="btn btn-info offset-1 col-10">Sprawdź</button>

                </div>
                <div class="col-sm">
                    @if (ViewBag.Result != null)
                    {
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Rozpoznany wyraz twarzy to: <b>@ViewBag.Result.Prediction</b> </h4>
                        </div>
                        <div>
                            <br />
                        </div>
                        <div class="col-md-12"> 
                            <table class="table table-bordered">
                                <tr>
                                    <th>Wyraz twarzy</th>
                                    <th>Wynik</th>
                                </tr>

                                @foreach (var predc in Model.dict)
                                {
                                    <tr>
                                        <td>@predc.Key</td>
                                        <td>@predc.Value %</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                        <a class="btn btn-secondary" asp-controller="ExpressionRecognition">Spróbuj ponownie na innym zdjęciu</a>                                         
                    }
                </div>
            </div>
        </div>


</form>

@section scripts {
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            var button = document.getElementById('CheckBtn');
            button.hidden =false;
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src)
            }
        };

       
    </script>
    
}

